body {
background: rgba(3, 133, 27, 0.805);
font: normal 15pt; Arial;
}

header {
    color: rgba(255, 255, 0, 0.892);
    text-align: center;
}

section {
background: rgb(222, 222, 15);
border-radius: 10px;
padding: 15px;
width: 985px;
height: 574px;
margin: auto;
box-shadow: 5px 5px 10px gold;
}

footer {
    color: rgba(255, 255, 0, 0.856);
    text-align: center;
    font-style: italic;
}

div {
    text-align: center;
    padding: 8px;
}